
<div class="jumbotron">
  <div class="box1">

    <h1 class="display-4">Welcome to Foode 😋 ! </h1>
    <p class="lead">Experience the magic of Just Eat</p>
    <hr class="my-4">
      <div class="signup">
        <p>Order in a takeaway, it's just a few clicks away</p>
        <p class="lead">
          <a <%= link_to('Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg', title: 'Sign UP') %></a>
        </p>
      </div>
    </div>
</div>

<%= link_to 'Log out', destroy_user_session_path, method: :delete %>


<% @places.each do |place| %>

<p>Name</p> <br>
<%= place['name'] %>
<br>
<br>

<% end %>
